<section class="page-width template-section account-form">
  <h1>Reset password</h1>
  {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}
    <label for="ResetPassword">Password</label>
    <input id="ResetPassword" type="password" name="customer[password]" autocomplete="new-password" required>
    <label for="ResetPasswordConfirmation">Confirm password</label>
    <input id="ResetPasswordConfirmation" type="password" name="customer[password_confirmation]" autocomplete="new-password" required>
    <button class="button button--red" type="submit">Reset password</button>
  {% endform %}
</section>
{% schema %}{ "name": "Reset password" }{% endschema %}
