<section class="page-width template-section error-page">
  <h1>Page not found</h1>
  <p>The page you are looking for could not be found.</p>
  <a class="button button--red" href="{{ routes.root_url }}">Back to Home</a>
</section>

{% schema %}
{
  "name": "Main 404"
}
{% endschema %}
