{% assign title_words = page.title | split: ' ' %}
{% assign first_word = title_words | first %}
{% assign remaining_title = page.title | remove_first: first_word | strip %}

<div class="innerBanner only_title page-title-banner">
  <div class="banrcaptionBox">
    <div class="wrapper">
      <h1 class="title_center1">
        <span>{{ first_word }}{% if remaining_title != blank %} <strong>{{ remaining_title }}</strong>{% endif %}</span>
      </h1>
    </div>
  </div>
</div>

<section class="about-us-middle-content page-content-template">
  <div class="wrapper">
    <div class="about-us-top defaulttemplate rte">{{ page.content }}</div>
  </div>
</section>

{% schema %}
{
  "name": "Main page"
}
{% endschema %}
